*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    
    scroll-behavior: smooth;
}
.container-fluid{
    align-items: center;
    /* justify-content: space-between; */
   
}
.logo{
    width: 200px;
}
.search_bar>input{
    width: 350px;
    border: none;
    outline: none;
}
.search_bar{
    border: 1px solid black;
    /* width: 500px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 5px; */
    border-radius: 13px;
    /* background-color: red; */


}
.search_text{
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    
}
.account_section{
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    gap: 15px;

}
.nav{
    background-color: #005268;
    padding: 10px 0px;
    margin-top: 15px;
    height: 62px;
    gap: 10px;

}
.menu_bar{
    padding-right: 10px;
}


.nav>li>a{
    color: white;
    text-decoration: none;
    
}
.slider_images{
    width: 100%;
    height: 400px;
    object-fit: fill;
}    
.hero_section{
    margin-top: 8rem!important;
}
.max_line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* card css */

.product_card{
    max-width: 197px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 10px;
    margin-top: 10px;
}
.best_deals_section{
    padding: 30PX;
}
.product_card>img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.product_description{
    padding: 3px;
    margin: 0px;
}
.product_name{
    font-weight: bold;
    font-size: 20px;
    margin: 6px 0px;
}
.old_price{
    text-decoration: line-through;
    color: rgb(164, 155, 155);
    font-size: 15px;
    margin: 0px;   
}
.current_price{
    
    margin: 0px;

}
.p_btn{
    
    padding: 5px 10px;
    border: 1px solid black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    font-weight: bold;
    font-size: 15px;

}
.product_button{
display: flex;
justify-content: space-between;
padding:0px 2px 5px 2px;
}
.product_button>a{
    color: #ffffff;
    font-weight: thin !important;
background-color: #005268;
}
/* card css end */

.pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.footer_background{
    background-color: #0BB3E0;
    /* padding: 30px 0px;
    color: #ffffff; */
}